{{#nb-scroll-panel
scrollingX=false
scrollingY= true
animating=true
bouncing  = true
locking = false

}}
    <div class="content-wrapper elevation-1dp" style="margin:24px;background:white;padding:24px;">
        <h2>Examples</h2>
      <div>
     {{nb-button type="flat-text" text="show dialog" on-tap=(route-action "showDialog")}}

        </div>
    </div>

{{/nb-scroll-panel}}
